:root {
    --accent-color: #2196F3;
    --second-accent-color: #FFFFFF;
    --tittle-second-color: #212121;
    --text-color: #757575;
    --logo-color: #000000;
    --background-color: #2F303A;
    --background-second-color: #F5F4FA;
    --adress-color: #ffffff9d;
    --borders-color: #EEEEEE;
}
a {
    color: var(--accent-color);
}
:root {
    --main-font: "Roboto", sans-serif;
    --second-font: "Roleway", sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
body {
    color: var(--text-color);
    font-size: 14px;
    font-family: var(--main-font);
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header-list {
    display: flex;
    justify-content:end;
    gap: 60px;}
.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}
.services {
    padding-top: 92px;
    padding-bottom: 94px;
}
.services {
    padding-top: 186px;
    padding-bottom: 202px;
}
.footer {
    padding-bottom: 60px;
}
.product {
    padding-top: 94px;
    padding-bottom: 94px;
}
.button-list {
    display: flex;
    justify-content:center;
    gap: 60px;}

