:root {
    --accent-color: #2196F3;
    --second-accent-color: #FFFFFF;
    --tittle-second-color: #212121;
    --text-color: #757575;
    --logo-color: #000000;
    --background-color: #2F303A;
    --background-second-color: #F5F4FA;
    --adress-color: #ffffff9d;
    --borders-color: #EEEEEE;
}
:root {
    --main-font: "Roboto", sans-serif;
    --second-font: "Roleway", sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
body {
    color: var(--text-color);
    font-size: 14px;
    font-family: var(--main-font);
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-container {
    display: flex;
    align-items:center;
    gap: 93px;
}
.header-logo {
    font-family: var(--second-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.header-list {
    display: flex;
    justify-content:end;
    gap: 50px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    color: rgba(33, 33, 33, 1);
}
.arrange {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: rgba(47, 48, 58, 1);
    text-align: center;
}
.arrange-title {
    font-family: var(--main-font);
    font-size: 44px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}
.arrange-button {
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    border: 0px;
    font-family: var(--main-font);
    border-radius: 4px;
    font-size: 16px;
}
.advantages-title {
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 700;
    color: rgba(33, 33, 33, 1);
    padding-bottom: 10px;
}
.advantages-text {
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 400;
}
h2 {
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 700;
    color: rgba(33, 33, 33, 1);
    text-align: center;
}
.team-member {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
}
.team-job {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}
.footer-logo {
    font-family: var(--second-font);
    font-size: 26px;
    font-weight: 700;
}

.header-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_contact-list {
    display: flex;
    gap: 50px;
    color: rgba(117, 117, 117, 1);
}
.arrange {
    padding-top: 200px;
    padding-bottom: 200px;
}
.advantages-list {
    display: flex;
    gap: 30px;
}

.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}
.services {
    padding-bottom: 94px;
    display: flex;
}
.services-list {
    display: flex;
    gap: 30px;
    text-align: center;
}
.team {
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list {
    display: flex;
    gap: 30px;
}
/* potfolio */
.product {
    padding-top: 94px;
    padding-bottom: 94px;
}
.button-list {
    display: flex;
    justify-content:center;
    gap: 8px;}
.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--background-color);
}
.services-item {
    text-align: center;
}
.team-member {
    color: rgba(33, 33, 33, 1);
}
.team-job {
    color: rgba(117, 117, 117, 1);
}
