:root {
    --accent-color: #2196F3;
    --second-accent-color: #FFFFFF;
    --tittle-second-color: #212121;
    --text-color: #757575;
    --logo-color: #000000;
    --background-color: #2F303A;
    --background-second-color: #F5F4FA;
    --adress-color: #ffffff9d;
    --borders-color: #EEEEEE;
    --footer-link-color: #ffffff99;
}
:root {
    --main-font: "Roboto", sans-serif;
    --second-font: "Raleway", sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
body {
    color: var(--text-color);
    font-size: 14px;
    font-family: var(--main-font);
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-wraper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.header-container {
    display: flex;
    align-items:center;
    gap: 93px;
}
.header-logo {
    font-family: var(--second-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}
.header-letters {
    color: var(--accent-color);
}
.header-list {
    display: flex;
    gap: 50px;
}
.header-link {
    color: var(--tittle-second-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.header-link:hover {
    color: var(--accent-color);
}
.header_contact-list {
    display: flex;
    gap: 50px;
}
.header_contact-link {
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.header_contact-link:hover {
    color: var(--accent-color);
}
.arrange {
    padding-top: 200px;
    padding-bottom: 200px;
}
.arrange {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/imgmain.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: cover;
}
.arrange-title {
    font-family: var(--main-font);
    font-size: 44px;
    font-weight: 900;
    color: var(--second-accent-color);
    letter-spacing: 0.06em;
    line-height: 60px;
    padding-bottom: 30px;
}
.arrange-button {
    background-color: rgba(33, 150, 243, 1);
    color: var(--second-accent-color);
    border: 0px;
    font-family: var(--main-font);
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 32px;
    letter-spacing: 0.06em;
    line-height: 30px;
    font-weight: 700;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.advantages-item::before {
    content: "";
    display: flex;
    width: 270px;
    height: 120px;
    background: url("../images/antenna.png"), var(--background-second-color);
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: center;
    margin-bottom: 30px;
}
.advantages-item:nth-child(2)::before {
    background-image: url("../images/clock.png");
    background-repeat: no-repeat;
}
.advantages-item:nth-child(3)::before {
    background-image: url("../images/diagram.png");
    background-repeat: no-repeat;
}
.advantages-item:nth-child(4)::before {
    background-image: url("../images/astronaut.png");
    background-repeat: no-repeat;
}
.advantages-title {
    font-weight: 700;
    color: var(--tittle-second-color);
    padding-bottom: 10px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages-text {
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.services-title, .team-title {
    font-size: 36px;
    font-weight: 700;
    color:var(--tittle-second-color);
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 0.03em;
}
.services {
    padding-bottom: 94px;
    display: flex;
}
.services-list {
    display: flex;
    gap: 30px;
}
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-second-color);
}
.team-member {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 0.03em;
    color: var(--tittle-second-color);
}
.team-job {
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.team-item {
    background-color: var(--second-accent-color);
    padding-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12)
}
.advantages-list {
    display: flex;
    gap: 30px;
}
.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}
.team-list {
    display: flex;
    gap: 30px;
}
.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--background-color);
}
.footer-logo {
    font-family: var(--second-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--second-accent-color);
}
.footer-letters {
    color: var(--accent-color);
}
.address-list {
    display: flex;
    padding-top: 20px;
    column-gap: 9px;
    flex-direction: column;
}
.address-link {
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
    line-height: 24px;
}
.address-special {
    color: var(--second-accent-color);
}