:root {
    --accent-color: #2196F3;
    --second-accent-color: #FFFFFF;
    --tittle-second-color: #212121;
    --text-color: #757575;
    --logo-color: #000000;
    --background-color: #2F303A;
    --background-second-color: #F5F4FA;
    --adress-color: #ffffff9d;
    --borders-color: #EEEEEE;
}
a {
    color: var(--accent-color);
}
:root {
    --main-font: "Roboto", sans-serif;
    --second-font: "Roleway", sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
body {
    color: var(--text-color);
    font-size: 14px;
    font-family: var(--main-font);
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-container {
    display: flex;
    align-items:center;
    gap: 93px;
}
.header-logo {
    font-family: var(--second-font);
    font-size: 26px;
    font-weight: 700;
    width: 145px;
    height: 31px;
    width: 45px;
    height: 16px;
}
.header-list {
    display: flex;
    justify-content:end;
    gap: 50px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
}
h1 {
    font-family: var(--main-font);
    font-size: 60px;
    font-weight: 900;
}
.advantages-title {
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 700;
    width: 270px;
    height: 16px;
}
.advantages-text {
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 400;
    width: 270px;
    height: 72px;
}
h2 {
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 700;
    width: 366px;
    height:42px;
}
.team-member {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    width: 129px;
    height: 19px;
}
.team-job {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    width: 130px;
    height: 19px;
}
.footer-logo {
    font-family: var(--second-font);
    font-size: 26px;
    font-weight: 700;
    width: 145px;
    height: 31px;
    width: 45px;
    height: 16px;
}

.header-wraper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.header_contact-list {
    display: flex;
    gap: 50px;
}
.arrange {
    padding-top: 200px;
    padding-bottom: 200px;
}
.advantages-list {
    display: flex;
    gap: 30px;
}

.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}
.services {
    padding-bottom: 94px;
    display: flex;
}
.services-list {
    display: flex;
    gap: 30px;
}
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}
.team-list {
    display: flex;
    gap: 30px;
}
/* potfolio */
.product {
    padding-top: 94px;
    padding-bottom: 94px;
}
.button-list {
    display: flex;
    justify-content:center;
    gap: 60px;}
.footer {
    padding-bottom: 60px;
    padding-top: 60px;
}
