:root {
    --accent-color: #2196F3;
    --second-accent-color: #FFFFFF;
    --tittle-second-color: #212121;
    --text-color: #757575;
    --logo-color: #000000;
    --background-color: #2F303A;
    --background-second-color: #F5F4FA;
    --adress-color: #ffffff9d;
    --borders-color: #eeeeee;
    --button-colors: #f5f4fa;
    --line-color: #ECECEC;
    --text-buttons: #212121;
    --borders-product: #EEEEEE;
}
:root {
    --main-font: "Roboto", sans-serif;
    --second-font: "Raleway", sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
body {
    color: var(--text-color);
    font-size: 14px;
    font-family: var(--main-font);
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--line-color);
}
.header-wraper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.header-container {
    display: flex;
    align-items:center;
    gap: 93px;
}
.header-logo {
    font-family: var(--second-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}
.header-letters {
    font-family: var(--second-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.header-list {
    display: flex;
    justify-content:end;
    gap: 50px;
}
.header-link {
    color: var(--tittle-second-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}
.header-link:hover {
    content: "";
    display: flex;
    flex-wrap: wrap;
    color: var(--accent-color);
}
.header_contact-list {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    color: var(--text-color);
}
.header_contact-link {
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}
.header_contact-link:hover {
    color: var(--accent-color);
}
.product {
    padding-top: 94px;
    padding-bottom: 94px;
}
.button-list {
    display: flex;
    justify-content:center;
    gap: 8px;
    padding-bottom: 50px;
}
.button-btn {
    border: none;
    background-color: var(--button-colors);
    color: var(--text-buttons);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border-radius: 4px;
    line-height: 26px;
}
.button-btn:hover {
    background-color: var(--accent-color);
    color: var(--second-accent-color);
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.product-item {
    flex-basis: calc((100% - 60px)/3);
}
.product-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: var(--text-buttons);
    line-height: 36px;
}
.product-text {
    font-family: var(--main-font);
    font-size: 16px;
    letter-spacing: 0.03em;
    padding-top: 4px;
    color: var(--text-color);
    line-height: 30px;
}
.product-line {
    border: 1px solid var(--borders-product);
    border-top: none;
    padding: 20px 24px;
}
.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--background-color);
}
.footer-logo {
    font-family: var(--second-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--second-accent-color);
}
.footer-letters {
    color: var(--accent-color);
    font-family: var(--second-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.address-list {
    padding-top: 20px;
}
.address-link {
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}
.address-special {
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--second-accent-color);
    line-height: 24px;
}

