:root {
    --accent-color: #2196F3;
    --tittle-color: #FFFFFF;
    --tittle-second-color: #212121;
    --text-color: #757575;
    --logo-color: #000000;
    --background-color: #2F303A;
    --button-color: #FFFFFF;
    --background-second-color: #F5F4FA;
    --adress-color: #FFFFFF;
    --borders-color: #EEEEEE;
}
a {
    color: var(--accent-color);
}