:root {
    --accent-color: #2196F3;
    --second-accent-color: #FFFFFF;
    --tittle-second-color: #212121;
    --text-color: #757575;
    --logo-color: #000000;
    --background-color: #2F303A;
    --background-second-color: #F5F4FA;
    --adress-color: #ffffff9d;
    --borders-color: #EEEEEE;
}
a {
    color: var(--accent-color);
}
:root {
    --main-font: "Roboto", sans-serif;
    --second-font: "Roleway", sans-serif;
}